/*--------- UNIVERSAL ---------*/
*:before, *:after, * {
    box-sizing: border-box;
}

html {
	margin: 0;
	min-height: 100%;
/*	border: 2px solid red;*/
}
body {
	min-height: 100%;
}

main {
/*	border: 1px solid blue;*/
	min-height: 100vh;
	/*justify-content: space-between;*/
}

main, h1, h3, p, label {
	color: #6E6E6E;
	font-family: 'Open Sans', sans-serif;
}

main h3 {
	font-weight: 800;
	margin: 0;
}

main p {
	margin: 0;
}

.main-flex {
	display: flex;
	min-height: 100%;
}



/*--------- BUTTON AND MODULAR ---------*/
.button {
	background-color: #D0D2D3;
	font-family: 'Open Sans', sans-serif; 
	border-radius: 50px;
	color: #FFF;
	padding: 8px 20px;
	font-weight: 700;
	border: none;
	margin: 5px;
}

.button:hover {
	background-color: #6E6E6E;
}

.button:focus {
	outline: none;
}

.close {
	border-radius: 50%;
	background: #6E6E6E;
	color: white;
	height: 24px;
	width: 24px;
}

.m-right {
	margin-right: 15px;
}

.vertical-line {
    border: none;
    border-left: 2px solid #D0D2D3;
    height: 25vh;
    width: 1px;      
}

.horizontal-line {
	border: none;
	border: 1px solid #D0D2D3;
	width: 97%;
}

/*--------- TOP TITLE ---------*/
.header-container {
	background-color: #404041;
}

.body-header {
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
/*	border: 2px solid blue;*/
	width: 490px;
}

.body-header > h1 {
/*	border: 1px solid red;*/
	color: #DD1972;
	font-size: 55px;
	padding: 0;
	margin: 0;
	letter-spacing: 0px;
}

.body-header > p {
/*	border: 1px solid red;*/
	display: inline;
	color: #FFF;
	font-weight: 100;
	padding-bottom: 15px;
	font-size: 18px;
	margin: 0;
}

hr {
	margin:5px 5px;
	width: 19%;
	display: inline-block;
}

.top-title {
	font-weight: 100;
}


/*--------- PARAMETERS ---------*/

/*-- Guess OVERVIEW --*/
.guess-section {
	width: 50%;
	background-color: #F7F7F7;
	border-right: 2px solid #6E6E6E;
}

.guess-section article {
	background-color: #FFF;
	border: 2px solid #E0E0E0;
	margin: 10px 20px;
	padding: 15px;
}

/*-- Guess INPUT --*/
.input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.user-input {
	height: 75px;
	width: 100%;
	max-width: 200px;
	padding-top: 5px;
	align-self: center;
}

.user-input input {
	width: 100%;
	font-size: 20px;
	padding: 4px 0;
	margin-top: 5px;
	border: 2px solid #E0E0E0;
}


/*-- Guess RANGE --*/
.set-range {
	/*border: 5px solid gold;*/
}

.set-range .input {
/*	border: 1px solid blue;*/
	width: 100%;
	margin: 0;
	max-width: 550px;
	/*padding: 5px 0;*/
}

.input-cont {
	margin: 0 auto;
/*	border: 1px solid red;*/
	width: 475px;
}

.set-range .user-input {
/*	border: 1px solid red;*/
	width: 200px;
/*	padding: 5px 0;*/
}

.set-range button {
	margin-top: 20px;
}

input:focus {
	outline: none;
	border: 2px solid #DD1972;
}


/*-- Guess FORM --*/
.lg-form {
	max-width: 65%;
	margin-right: 15px;
}

.sm-form {
	max-width: 150px;
	min-width: 100px;
/*	margin-left: 15px;*/
}

/*-- Guess CHALLENGERS --*/
.set-challengers {
	padding: 10px;
	/*max-height: 340px;*/
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.set-challengers p {
	margin: 5px 0 20px 0;
}

.challenger-cont {
	margin: 0 auto;
/*	border: 1px solid red;*/
}

.challenger {
	margin: 20px 0;
}

.r-low, .r-high {
	font-weight: 700;
	text-decoration: underline;
}

/*--------- LATEST SCORE ---------*/
.latest-score {
	
}

.latest-score .latest-cont {
	display: flex;
	justify-content: space-around;
/*	border: 1px solid red;*/
	width: 475px;
	margin: 0 auto;
}

.ch-score {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
/*	border: 1px solid red;*/
	width: 200px;
	max-width: 200px;
	height: 170px;
}

.number {
	color: #DD1972;
	font-size: 86px;
	font-weight: 900;
}


/*--------- RESULTS ---------*/
.results-section {
	width: 50%;
	background-color: #D0D2D3;
}

.result {
	border: 2px solid #6E6E6E;
	width:;
	margin: 20px 5%;
	background-color: #FFF;
	height: 200px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.results-section article {

}

.winner {
	text-align: center;
	margin: 15px 0;
}

.winner h1 {
	margin: 0;
	font-weight: 800;
}

.winner p {
	font-size: 28px;
	font-weight: 100;
}

.winner .metric {
	font-weight: 100;
	font-size: 32px;
}

.result header {
	font-weight: 800;
}

.result header p {
	font-weight: 100;
}

.num-guesses, .num-time {
	font-weight: 800;
	margin-right: 0;
}

.result-metrics section {
	width: 200px;
	height: auto;
}


















