*:before, *:after, * {
	box-sizing: border-box;
}

html {
/*	border: 1px solid blue;*/
}


body {
/*	border: 1px solid red;*/
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

main {
}


/* turn off number spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*
#DD1972
#F7F7F7
#404041

#6E6E6E
#D0D2D3
#F74D9B
*/


/*====== GLOBAL LAYOUT ======*/
.flex-document {
	display: flex;
	height: 817px;
}

.header-section {
	background-color: #404041;
}

.input-section {
	width: 50%;
	background-color: #F7F7F7;
	border-right: 2px solid #6E6E6E;
}

.output-section {
	width: 50%;
	background-color: #D0D2D3;
	overflow-y: scroll;
}

.input-section, .output-section {
	color: #6E6E6E;
}

.bold {
	font-weight: 800;
}

.thin {
	font-weight: 300;
}

/*====== JS FUNCTIONALITY ======*/
.hidden {
	visibility: hidden;
}

.show {
	visibility: visible;
}




/*====== MODULAR RULES ======*/
.article-box {
	background-color: #FFF;
	border: 2px solid #D0D2D3;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: .8rem;
	padding: .4rem .8rem .8rem .8rem;
}

.article-box h3 {
	font-weight: 800;
	color: #404041;
}

.article-box span {
	font-weight: 300;
}

.article-box button, .challenger-btns button span {
	font-weight: 600;
}

.output-card {
	background-color: #FFF;
	border: 2px solid #6E6E6E;
	margin: .8rem;
	padding: .4rem .8rem .8rem .8rem;
}

.btn {
	background-color: #6E6E6E;
	border: none;
	color: #FFF;
	border-radius: 50px;
	font-size: 16px;
	max-height: 32px;
	padding: .4rem 1.4rem;
	margin: auto 0;
}

.btn:hover {
	background-color: #DD1972;
}

.btn:focus {
	outline: none;
}

.btn-disabled {
	background-color: #D0D2D3;
}

.btn-disabled:hover {
	background-color: #D0D2D3;
}

.btn-active {
	background-color: #6E6E6E;
}

.btn-active:hover {
	background-color: #DD1972;
}

.btn-x {
	background-color: #6E6E6E;
	border: none;
	color: #FFF;
	border-radius: 50%;
	font-size: 16px;
	height: 30px;
	width: 30px;
}

.input {
	font-size: 20px;
	padding: .3rem 0;
	width: 100%;
	margin: .2rem 0;
	border: 2px solid #D0D2D3;
}

.input:focus {
	border: 2px solid #F74D9B;
	outline: none;
}

.input:focus + .error {
	visibility: visible;
}

.error {
	color: #DD1972;
}

.sm-input {	
	width: 175px;
}

.md-input {
	margin-right: .7rem;
	padding-bottom: .5rem;
	width: 69%;
}

.content-container {
	margin: 0 0 .4rem 0;
	max-width: 550px;
	width: 100%;
}

.content-container h3 {
	margin: 0;
	padding: 0;
}

.input-container {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.vertical-line {
	background-color: lightgrey;
	border-style: none;
	display: inline;
	height: 190px;
	margin: 0;
	position: absolute;
	width: 2px;
}

/*====== HEADER LAYOUT ======*/
.header-article {
	margin: 0 auto;
	padding: 1rem 0 1.8rem 0;
	text-align: center;
	width: 490px;
}

.header-article > h1 {
	color: #DD1972;
	font-size: 55px;
	letter-spacing: 0px;
	margin: 0;
	padding: 0;
}

.header-article > p {
	color: #FFF;
	display: inline;
	font-size: 18px;
	font-weight: 100;
	margin: 0;
}

.header-article hr {
	display: inline-block;
	margin: 5px 5px;
	width: 19%;
}

.header-span {
	font-weight: 100;
}


/*====== RANGE LAYOUT ======*/
.range-box > .content-container:first-child p {
	margin: 0 0 1rem 0;
	padding: 0;
}

.range-box .content-container .bold {
	color:#404041;
	font-weight: 700;
	text-decoration: underline;
}


/*====== CHALLENGER LAYOUT ======*/
.challenger-rules {
	align-items: center;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.challenger-btns {
	display: flex;
	justify-content: space-between;
	max-width: 520px;
	min-width: 450px;
	width: 95%;
}

.challenger-btns button:nth-child(2) {
	margin: 0 .5rem;
}

.challenger-rules section {
	margin: .5rem;
	padding: 0;
}

.challenger-rules h4 {
	font-weight: 600;
	margin: 0;
}

.challenger-rules .lg-number {
	color: #F74D9B;
	font-size: 82px;
	font-weight: 800;
}

.bottom-section {
	height: 210px;
}

.chall-latest {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.chall-approx {
	font-size: 1.3rem;
}


/*====== OUTPUT LAYOUT ======*/
.output-card header, footer {
	display: flex;
	justify-content: space-evenly;
}

.output-card article {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.output-card footer {
	justify-content: space-between;
}

.output-card p {
	font-size: 36px;
	font-weight: 300;
	margin: 0;
}

.output-card h1 {
	margin: 0;
}

.output-metrics {
	display: flex;
	justify-content: space-between;
	width: 58%;
}

@media screen and (max-width: 1230px) {
	.flex-document {
		height: auto;
	}

	.output-section {
		margin: 0 auto;
		overflow-y: auto;
	}

	.challenger-btns {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		/*border: 1px solid red;*/
		min-width: 100%;
	}

	.challenger-btns > .btn {
		width: 100%;
		margin: 10px 0;
		padding: 15px 0 30px 0;
	}

	.input-container {
		display: flex;
		flex-direction: column;
		/*border: 1px solid red;*/
	}

	.input-container .sm-input, .md-input {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.bottom-section {
		height: auto;
	}

	.vertical-line {
		background-color: lightgrey;
		border-style: none;
		display: inline;
		height: 2px;
		margin: 0;
		position: absolute;
		width: 190px;
	}

	.challenger-rules {
		display: flex;
		flex-direction: column;
		height: 400px;
	}

	.chall-latest {
		align-items: center;
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 650px) {

	.input-section {
		border-right: 0;
		border-bottom: 2px solid #6E6E6E;
	}

	/*====== HEADER LAYOUT ======*/
.header-article {
	margin: 0 auto;
	text-align: center;
	width: auto;
}

.header-article > h1 {
	color: #DD1972;
	font-size: 35px;
	letter-spacing: 0px;
	margin: 0;
	padding: 0;
}

.header-article > p {
	color: #FFF;
	display: inline;
	font-size: 16px;
	font-weight: 100;
	margin: 0;
}

.header-article hr {
	display: inline-block;
	margin:5px 5px;
	width: 3%;
}

.header-span {
	font-weight: 100;
}

	.flex-document {
		display: flex;
		flex-direction: column;
	}

	.input-section {
		width: 100%;
	}

	.output-section {
		min-height: 500px;
		width: 100%;
	}
}








